<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/Header.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/logo.png" alt="Logo" style="height:80px; margin-right:20px;">
            Grow a Gambler
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>

                <% if (user) { %>
                    <!-- ðŸ‘¤ Profile (only when logged in) -->
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" title="Profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </a>
                    </li>
                    <!-- ðŸšª Logout -->
                    <!-- <li class="nav-item">
                        <form action="/logout" method="POST" style="margin:0;">
                            <a class="nav-link" href="/Login" title="Sign In">
                                <img src="/images/Logout.png" alt="Sign In" width="24" height="24">
                            </a>
                        </form>
                    </li> -->
                    <% } else { %>
                        <!-- ðŸ” Login -->
                        <li class="nav-item">
                            <a class="nav-link" href="/Login" title="Sign In">
                                <img src="/images/Login.png" alt="Sign In" width="24" height="24">
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>