div.container{
    font-family: "Poppins", "sans-serif";
    padding: 25px;
    width: 1000px;
}

div.submit-button{
    text-align: center;
}

h1{
    padding: 30px;
    text-align: center;
}

a.btn{
    
    border-radius: 15px;
    width: 150px;
    margin: 30px;
}

label{
    padding-top: 10px;
    font-weight: bold;
}