div.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 5px;
}

body {
  background-color: rgb(228, 104, 104);
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 0px;
}

a.btn-danger {
  padding: 25px;
  margin: 20px;
  font-weight: 600;
}

img{
  margin: 10px;
  border-radius: 10px;
  height: 390.6px;
  width: 261px;
}