<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") -%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
        <title>Home Page</title>
</head>

<body>
    <%- include("../partials/navbar.ejs") -%>

        <div class="container">
            <div class="casino-spin">
                <a href="/spin/daily">
                    <div class="daily">
                        <h5>Daily Spin </h5>
                        <p>Spin The Wheel To Gain Free Rewards</p>
                    </div>
                </a>
                <a href="/spin/weekly">
                    <div class="weekly">
                        <h5>Weekly Spin</h5>
                        <p>Gain Bigger Rewards Every Week</p>
                    </div>
                </a>
            </div>
            <div class="casino-games">
                <h5>Popular Games</h5>
                <div class="game-select">
                    <a href="/games/blackjack" title="Blackjack">
                        <img src="/images/blackjack.png" alt="Blackjack">
                    </a>
                    <a href="/games/slots" title="Slots">
                        <img src="/images/slots.png" alt="Slots">
                    </a>
                    <a href="/games/roulette" title="Roulette">
                        <img src="/images/roulette.png" alt="Roulette">
                    </a>
                    <a href="/games/crash" title="Crash">
                        <img src="/images/crash.png" alt="Poker">
                    </a>
                    <a href="/games/mines" title="Mines">
                        <img src="/images/mines.png" alt="Baccarat">
                    </a>
                </div>
            </div>
            <div class="casino-games">
                <h5>Other Games</h5>
                <div class="game-select">
                    <a href="/games/dices" title="Dices">
                        <img src="/images/dices.png" alt="Blackjack">
                    </a>
                    <a href="/games/coinflip" title="Coinflip">
                        <img src="/images/coinflip.png" alt="Slots">
                    </a>
                    <a href="/games/higher" title="Higher">
                        <img src="/images/higher.png" alt="Roulette">
                    </a>
                    <a href="/games/racing" title="Racing">
                        <img src="/images/racing.png" alt="Poker">
                    </a>
                    <a href="/games/wheel" title="Wheel">
                        <img src="/images/wheel.png" alt="Baccarat">
                    </a>
                </div>
            </div>
            <!--! Leaderboard thingy -->

        </div>

</body>

<%- include("../partials/footer.ejs") -%>

</html>