<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome Page</title>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
        <link rel="stylesheet" href="/css/WelcomePage.css">

</head>

<%- include ("../partials/navbar.ejs") %>

<body>

    <div class="welcome-section">
        <img src="/images/itsukiNakano.jpeg" alt="">
        <h1>Want to become rich in one click?</h1>
        <p>Don't worry! Just click this button to solve all your problems and gain $1,000,000 💸💸💸</p>
        <a href="/games" class="btn btn-danger">Click Here 🤑</a>
        <p>Get rich now 😈</p>
    </div>

</body>

</html>